<h1>All Tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag),
          class: 'tag_name', id: "tag_#{tag.id}"%>
       <%= link_to "destroy", tag_path(tag), method: :delete%>
    </li>
  <% end %>
 

</ul>

